[submodule "buy_limit_costumer"]
	path = buy_limit_costumer
	url = git@github.com:xmarts/buy_limit_costumer.git
[submodule "name_costumer"]
	path = name_costumer
	url = git@github.com:xmarts/name_costumer.git
[submodule "products_capacity"]
	path = products_capacity
	url = git@github.com:xmarts/products_capacity.git
[submodule "vendors_fields"]
	path = vendors_fields
	url = git@github.com:xmarts/vendors_fields.git
